*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    transition: 0.4s;
}

a:hover{
    color: red;
}

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#post-container{
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img{
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
}

#sidebar{
    flex: 1 1 0;
}

#categories{
    padding: 1.5rem;
    border: 1px solid #333;
    margin-bottom: 1rem;
}

#categories h4{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#categories li {
    margin-bottom: 1rem;
}

#footer{
    border-top: 2px solid #333;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 1rem;
}